<h1>Welcome <%= @connoisseur.username %></h1>

<h3>Create A New Scotch For List</h3>
<form method="POST" action="/scotches">
	<input type="text" name="name" placeholder="Name of Scotch">
	<input type="number" name="price" placeholder="Price"><br><br>
	<input type="hidden" name="connoisseur_id" value="<%= session[:id] %>">
	<input type="submit" value="Post Scotch">
</form>
<h4><a href="/scotches">Go Back To Scotches</a></h4>
